@font-face {
  font-family: "Meiryo";
  src: url("../fonts/meiryo.ttf");
  font-weight: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hira Kaku Std";
  src: url("../fonts/Hiragino_Kaku_Gothic_StdN_W8.otf");
  font-weight: normal;
  font-style: normal;
}