@use "base/reset";
@use "base/variables" as v;
@use "components/button";
@use "base/fonts";

body, button {
  font-family: "Satoshi";
  font-size: 16px;
}

.container {
  max-width: 1240px;
  margin: 10px auto 0px
}

.products-tabs {
  margin-bottom: 64px;

  &__content {
    display: none;

    &--active {
      display: block;
    }
  }
}

.tabs {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__tab {
    font-size: 20px;
    line-height: 1.1; // line-height/font-size=22/20
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 0 19px;

    &--active {
      color: #000;
      font-weight: 500;
      border-bottom: 2px solid #000;
    }
  }
}

.reviews {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;

    span {
      font-size: 16px;
      font-weight: 400;
      color: rgba(0,0,0,0.6);
    }
  }

  &__actions {
    display: flex;
    gap: 10px;
    height: 48px;
    width: 354px;
  }

  &__action {
    border-radius: 62px;
    font-weight: 500;
    border: none;
    cursor: pointer;

    p {
      font-weight: 500;
    }

    &--filter {
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 24px;
        height: 24px;
      }
    }

    &--sort {
      display: flex;
      width: 120px;
      justify-content: center;
      align-items: center;
      gap: 21px;

      img {
        height: 6.5px;
        width: 11.5px;
      }
    }

    &--write {
      width: 166px;
      background-color: black;
      color: white;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 36px;
  }

  &__load-more {
    margin: 0 auto;
    font-size: 16px; 
    font-weight: 500;
    padding: 15px 45px; 
    border: 1px solid rgba(0,0,0,0.1019607843); 
    border-radius: 62px; 
    background-color: transparent; 
    cursor: pointer; 
  }
}

.review-card {
  border: 1px solid rgba(0,0,0,0.1019607843);
  border-radius: 20px;
  padding: 26px 30px 28px 30px;
  
  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
  }

  &__stars {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  &__more-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0 2px 0 0;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 13px;
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1; // line-height/font-size = 22/20
    margin-right: 4px;
  }

  &__content {
    font-weight: 400;
    line-height: 1.375; // line-height/font-size = 22/16
    color: rgba(0,0,0,0.6);
    margin-bottom: 24px;
  }

  &__footer {
    font-weight: 500;
    line-height: 1.375; // line-height/font-size = 22/16
    color: rgba(0,0,0,0.6);
  }
}

.other-products {
  &__title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-family: "IntegralCF";
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 62px;
  }
}

.product-item {
  &__image {
    margin-bottom: 18px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__rating {
    display: flex;
    gap: 14px;

    p {
      padding-top: 3px;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__stars {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-bottom: 15px;
  }

  &__prices {
    display: flex;
    gap: 1px;

    &--discounted {
      font-size: 24px;
      font-weight: 700;
      color: #000;
      margin-right: 10px;
    }

    &--original {
      font-size: 24px;
      font-weight: 700;
      color: rgba(0,0,0,0.4);
      text-decoration: line-through;
    }

    &--percent {
      font-size: 12px;
      font-weight: 500;
      color: #ff3333;
      background-color: rgba(255, 51, 51, 0.1019607843);
      padding: 6px 14px;
      border-radius: 62px;
      margin-left: 10px;
    }
  }
}