@use "base/reset";
@use "base/variables" as v;
@use "components/button";
@use "base/fonts";
@use "base/mixins" as *;

body,
button {
  font-family: "Satoshi";
  font-size: 16px;
  line-height: 100%;
}

.container {
  max-width: 1240px;
  margin: 10px auto 0px;
}

.products-tabs {
  margin-bottom: 64px;

  &__content {
    display: none;

    &--active {
      display: block;
    }
  }
}

.tabs {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__tab {
    font-size: 20px;
    line-height: 1.1; // line-height/font-size=22/20
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 0 20px;

    &--active {
      color: #000;
      font-weight: 500;
      border-bottom: 2px solid #000;
    }
  }
}

.reviews {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__title {
    @include line-clamp(2);
    font-size: 24px;
    font-weight: 700;

    span {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &__actions {
    display: flex;
    gap: 10px;
    height: 48px;
    width: 354px;
  }

  &__filter-dropdown {
    position: absolute;
    background-color: #fff;
    border-radius: 12px;
    padding: 8px 0;
    border: 1px solid rgb(0, 0, 0, 0.1);
    width: 330px;
    z-index: 100;
    display: none;

    &--show {
      display: block;
    }
  }

  &__filter-option {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  &__filter-option--active,
  &__filter-option:hover {
    background: #f5f5f5;
  }

  &__filter-stars {
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 2px;
  }

  &__filter-star {
    @include icon-bg(v.$icon-star, 16px, 16px);
  }

  &__action {
    position: relative;
    display: inline-block;
    border-radius: 62px;
    font-weight: 500;
    border: none;
    cursor: pointer;

    &--filter {
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        position: absolute;
        @include icon-bg(v.$icon-filter, 22px, 22px);
      }
    }

    &--filter:hover {
      background-color: #e6e6e6;
    }

    &--sort {
      position: relative;
      display: flex;
      width: 120px;
      justify-content: center;
      align-items: center;
      background-color: #f0f0f0;

      &:hover {
        background-color: #e6e6e6;
      }

      &::after {
        content: "";
        position: absolute;
        pointer-events: none;
        right: 14px;
        top: 50%;
        transform: translateY(-5px);
        @include icon-bg(v.$icon-dropdown, 12px, 12px);
      }
    }

    &--write {
      width: 166px;
      background-color: black;
      color: white;

      &:hover {
        background-color: #1a1a1a;
      }

      &:active {
        background-color: #000;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
      }
    }
  }

  &__select {
    background-color: transparent;
    border: none;
    appearance: none;
    outline: none;
    width: 60px;
    font: inherit;
    cursor: pointer;
  }

  &__select:focus {
    outline: none;
    box-shadow: none;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 36px;
  }

  &__load-more-wrapper {
    display: flex;
    justify-content: center;
  }

  &__load-more {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 45px;
    border: 1px solid rgba(0, 0, 0, 0.1019607843);
    border-radius: 62px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: #e6e6e6;
    }

    &:active {
      background-color: #eee;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1019607843);
    }
  }
}

.review-card {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 20px;
  padding: 28px 30px 28px 30px;

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
  }

  &__stars {
    display: inline-flex;
    align-items: center;
    gap: 6px;
  }

  &__star {
    @include icon-bg(v.$icon-star, 22px, 22px);
    flex-shrink: 0;

    &--half {
      background-image: url(v.$icon-half-star);
    }
  }

  &__more-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0 25px 0 0;

    &::after {
      content: "";
      position: absolute;
      @include icon-bg(v.$icon-menu, 25px, 25px);
    }
  }

  &__header {
    position: relative;
    padding-right: 32px;
    font-size: 20px;
    line-height: 1.1; // line-height/font-size = 22/20
    font-weight: 700;
    margin-bottom: 15px;

    &::after {
      content: "";
      position: absolute;
      @include icon-bg(v.$icon-tick, 25px, 25px);
    }
  }

  &__content {
    @include line-clamp(3);
    line-height: 1.375; // line-height/font-size = 22/16
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 25px;
  }

  &__footer {
    @include line-clamp(1);
    font-weight: 500;
    line-height: 1.375; // line-height/font-size = 22/16
    color: rgba(0, 0, 0, 0.6);
  }
}

.other-products {
  position: relative;

  &__item {
    max-width: 295px;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

      .product-item__title {
        color: #ff4d4f;
      }

      .product-item__image {
        transform: scale(1.08);
      }

      .product-item__prices--discounted {
        color: #ff4d4f;
      }
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-family: "IntegralCF";
  }

  &__viewport {
    overflow: hidden;
  }

  &__list {
    display: flex;
    width: max-content;
    gap: 20px;
    margin-top: 62px;
  }

  &__prev,
  &__next {
    position: absolute;
    background: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;

    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      transition:
        background-color 0.25s ease,
        transform 0.2s ease;
    }

    &:hover::after {
      background-color: #333;
      transform: scale(1.1);
    }
  }

  &__prev {
    left: -30px;

    &::after {
      @include icon-mask(v.$icon-back, 60px, 60px, #000, 0.8);
    }
  }

  &__next {
    right: -30px;

    &::after {
      @include icon-mask(v.$icon-next, 60px, 60px, #000, 0.8);
    }
  }
}

.product-item {
  &__image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 18px;
  }

  &__title {
    @include line-clamp(1);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;

    &:hover {
      color: #ff3333;
    }
  }

  &__rating {
    display: flex;
    gap: 14px;
    margin-bottom: 10px;

    p {
      padding-top: 5px;
      font-size: 14px;
    }
  }

  &__stars {
    display: inline-flex;
    align-items: center;
    gap: 6px;
  }

  &__star {
    @include icon-bg(v.$icon-star, 20px, 20px);
    flex-shrink: 0;

    &--half {
      background-image: url(v.$icon-half-star);
    }
  }

  &__prices {
    display: flex;
    gap: 1px;
    font-size: 24px;
    font-weight: 700;

    &--discounted {
      color: #000;
      margin-right: 10px;
    }

    &--original {
      color: rgba(0, 0, 0, 0.4);
      text-decoration: line-through;
    }

    &--percent {
      font-size: 12px;
      font-weight: 500;
      color: #ff3333;
      background-color: rgba(255, 51, 51, 0.1019607843);
      padding: 5px 15px;
      border-radius: 62px;
      margin-left: 10px;
    }
  }
}
