@mixin line-clamp($lines: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;

  overflow: hidden;
  min-width: 0;
}

@mixin icon-bg($url, $width: 16px, $height: 16px) {
  content: "";
  width: $width;
  height: $height;

  background: url($url) no-repeat center / contain;
}