$icon-tick: "../images/icn_tick.svg";
$icon-star: "../images/icn_star.svg";
$icon-half-star: "../images/icn_half_star.svg";
$icon-menu: "../images/icn_menu.svg";
$icon-filter: "../images/icn_filter.svg";
$icon-back: "../images/icn_back.svg";
$icon-next: "../images/icn_next.svg";
$icon-dropdown: "../images/icn_dropdown.svg";