body {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  background-color: #000;
}

strong {
  font-weight: bold;
  color: #0a6395;
  font-size: 12px;
}

h3 {
  margin: 0;
  font-size: 16px;
}

h4 {
  font-family: "Arial-BoldMT", sans-serif;
  margin: 0;
  font-weight: normal;
}

p {
  font-family: "ArialMT", sans-serif;
  margin: 0;
}

.u-font-arial {
  font-family: Arial, sans-serif;
}

.u-fs-12 {
  font-size: 12px;
}

.u-fs-15 {
  font-size: 15px;
}

.u-lh-1 {
  line-height: 1;
}

.u-lh-1-dot-25 {
  line-height: 1.25;
}

.u-fw-normal {
  font-weight: 400;
}

.u-fw-bold {
  font-weight: 700;
}

.horo-desc-til {
  color: #000000;
}

.blog-desc-til {
  line-height: 15px;
  color: #0a6395;
  font-weight: bold;
}

.blog-desc-content {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  font-family: "Arial";
  margin-left: 4px;
}

.container {
  background-color: #fff;
  max-width: 363px;
  margin: 0 auto;
  padding: 16px 0 26px 0;
}

.inner {
  background-color: #e6f3fb;
  padding: 4px 9px 16px 11px;
  margin: 0 25px 0 22px;
}

.blog-pic-desc {
  display: flex;
  gap: 6px;
  align-items: flex-start;
  margin: 7px 10px 12px 8px;
}

.sec-content {
  background-color: transparent;
}

.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.9375;
  color: #000;
}

.u-ml-1 {
  margin-left: 1px;
}
.u-ml-2 {
  margin-left: 2px;
}

.u-mt-1 {
  margin-top: 1px;
}
.u-mt-21 {
  margin-top: 21px;
}

.u-mb-1 {
  margin-bottom: 1px;
}

.sec-info {
  background-color: #fff;
  border-top: 4px solid #f7a418;
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

.blog-msg-list {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding-bottom: 2px;
}

.blog-msg-item {
  background-color: #f9f1c1;
  height: 35px;
  color: #0a6395;
}

.blog-msg-item p {
  font-size: 12px;
  line-height: 15px;
  color: #0a6395;
  font-family: "Arial";
}

.blog-msg-item:nth-child(1) {
  height: 32px;
}

.blog-msg-item:nth-child(1) p {
  margin-left: 9px;
  margin-top: 6px;
}

.blog-msg-item:nth-child(2) {
  height: 34px;
}

.blog-msg-item:nth-child(2) p {
  margin-left: 9px;
  margin-top: 10px;
}

.blog-msg-item:nth-child(3) {
  height: 37px;
}

.blog-msg-item:nth-child(3) p {
  margin-left: 9px;
  margin-top: 11px;
}

.horo-pic-desc {
  display: flex;
  gap: 19px;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 14px;
  padding: 0 6px 0 15px;
}

.horo-desc {
  margin-top: 3px;
}

.horo-desc-date {
  font-size: 11px;
  line-height: 15px;
  color: #595959;
  font-family: "Arial";
}

.horo-desc-content {
  font-size: 11px;
  line-height: 14px;
  color: #000000;
  font-family: "Arial";
  margin-left: 2px;
  margin-top: 7px;
}

.horo-desc-content a {
  color: #0a6395;
}

.horo-footer {
  box-sizing: border-box;
  max-width: 100%;
  min-height: 45px;
  padding: 11px 22px;
  background: #f4f4ea url("../images/pic_horoscopes_man.png") right / cover
    no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #000;
}

.horo-footer a {
  font-weight: bold;
}

.news-pic-desc {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.news-desc {
  display: flex;
}

.news-desc-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.news-desc-txt {
  padding: 21px 20px 0 23px;
}

.news-desc-txt p {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 5px;
}

.news-desc-txt a {
  font-size: 12px;
  line-height: 15px;
  color: #0a6395;
}

.btn-more {
  text-decoration: none;
  color: #0a6395;
}

hr {
  border: none;
  border-top: 1px solid #595959;
  margin: 9px 0 4px 0;
}

.competion-til {
  font-size: 14px;
  line-height: 15px;
  color: #000000;
  font-weight: normal;
}

.competion-info {
  list-style: none;
  border: 1px solid #595959;
  background-color: #fff;
  font-size: 12px;
  line-height: 1.25;
  color: #4d5d73;
  margin: 0 0 0 -1px;
  padding: 8px 10px 8px 8px;
  transform: translate(3px);
}
