@font-face {
  font-family: Arial-BoldMT;
  src: url(fonts/ArialMT-Bold.ttf);
}

@font-face {
  font-family: ArialMT;
  src: url(fonts/ArialMT-Light.ttf);
}

@font-face {
  font-family: Arial-ItalicMT;
  src: url(fonts/ArialMT-Italic.ttf);
}

.txt-times-new-roman {
  font-family: "Times New Roman", Times, serif;
}

.txt-arial-mt {
  font-family: "ArialMT", sans-serif;
}

.txt-arial-italic-m {
  font-family: "Arial-ItalicMT", sans-serif;
}

.txt-arial-italic-mt {
  font-family: "Arial-ItalicMT", sans-serif;
}

.til-color {
  color: #0a6395;
}

* {
  font-size: 12px;
}

body {
  background-color: #000;
  line-height: 1;
}

strong {
  font-weight: bold;
  color: #0a6395;
  font-size: 12px;
}

.main-container {
  background-color: #fff;
  max-width: 363px;
  margin: 0 auto;
  padding: 13px 0 20px 0;
}

.sub-container {
  background-color: #e6f3fb;
  padding: 8px 9px 20px 9px;
  margin: 0 25px 0 22px;
}

.blog-pic-desc {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  margin: 7px 10px 12px 8px;
}

.blog-pic-desc .blog-desc strong {
  font-size: 12px;
  line-height: 15px;
  color: #0a6395;
  font-weight: bold;
  font-family: "Arial";
}

.blog-pic-desc .blog-desc p {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  font-family: "Arial";
  margin-left: 2px;
  margin-top: 0;
}

.blog-desc {
  padding-top: 1px;
}

.sec-content {
  background-color: transparent;
}

.news-til {
  margin-top: 20px;
}

.sec-info {
  background-color: #fff;
  border-top: 4px solid #f7a418;
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

.blog-msg-list {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding-bottom: 2px;
}

.blog-msg-item {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #f9f1c1;
  height: 35px;
  color: #0a6395;
  padding-left: 15px;
}

.horo-pic-desc {
  display: flex;
  gap: 19px;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0 10px 0 15px;
}

.horo-desc {
  margin-top: 3px;
}

.horo-desc h4 {
  font-size: 15px;
  line-height: 15px;
  color: #000000;
  font-family: "Arial";
}

.horo-desc p {
  font-size: 11px;
  line-height: 14px;
  color: #000000;
  font-family: "Arial";
}

.horo-desc .date-under {
  font-size: 11px;
  line-height: 15px;
  color: #595959;
  font-family: "Arial";
}

.horo-footer {
  position: relative;
  width: 100%;
  font-size: 11px;
  background-image: url("../images/pic_horoscopes_man.png");
  background-size: cover;
  background-position: center;
  background-color: #f4f4ea;
}

.horo-footer-txt {
  padding: 10px 20px;
}

.horo-footer-txt p {
  font-size: 11px;
  line-height: 14px;
  color: #000000;
  font-family: "Arial";
}

.horo-footer-txt a {
  font-size: 11px;
  line-height: 14px;
  font-family: "Arial";
}

.competion-info {
  border-style: solid;
  border-color: #595959;
  border-width: 1px;
  padding: 12px;
  color: #4d5d73;
}

.news-pic-desc {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.news-desc {
  display: flex;
}

.news-desc-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.news-desc-txt {
  margin-top: 22px;
  margin-left: 23px;
  margin-right: 20px;
}

.news-desc-txt p {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  font-family: "Times New Roman";
  margin-bottom: 4px;
}

.news-desc-txt a {
  font-size: 12px;
  line-height: 15px;
  color: #0a6395;
  font-family: "Times New Roman";
}

.btn-more {
  text-decoration: none;
  color: #0a6395;
}

hr {
  border: none;
  border-top: 1px solid #595959;
  margin: 7px 0 4px 0;
}

.sec-competion .competion-til {
  font-size: 14px;
  line-height: 15px;
  color: #000000;
  font-family: "Times New Roman";
}

.competion-info {
  font-size: 12px;
  line-height: 15px;
  color: #4d5d73;
  font-family: "Times New Roman";
  padding: 0;
  margin: 0;
  margin-left: 3px;
  padding-top: 9px;
  padding-right: 10px;
  padding-left: 7px;
  padding-bottom: 8px;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  font-size: 16px;
}

h4 {
  font-family: "Arial-BoldMT", sans-serif;
  margin: 0;
  font-weight: normal;
}

p {
  font-family: "ArialMT", sans-serif;
  margin: 0;
}
