* {
  font-size: 12px;
}

body {
  background-color: #121214;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

p,
li {
  color: #595959;
}

h3,
h4,
a {
  font-weight: normal;
}

container {
  max-width: 701px;
  display: flex;
  gap: 24px;
  margin: 15px 0;
  margin-inline: auto;
}

content {
  max-width: 408px;
  width: fit-content;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

.pic-info {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin: 40px 0 0;
}

.pic-info .pic img {
  width: 130px;
  object-fit: cover;
  border-radius: 4px;
}

.pic-info .info {
  flex: 1;
  line-height: 0.8;
}

.pic-info .info h4 {
  margin: 0;
}

.pic-info .info p {
  margin-bottom: 0;
  margin-top: 12px;
  width: 252px;
}

.sec-info p {
  margin: 0px 0 0;
}

.sec-content h4 {
  margin: 0;
}

.sec-content p {
  margin: 0;
}

.sec-content ul {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 22px;
  flex-wrap: wrap;
  list-style: none;
}

.sec-content ul li {
  width: 50%;
  color: #a0a0a0;
  margin-bottom: 10px;
}

.sec-content ul li a {
  position: relative;
  text-decoration: none;
  color: #595959;
  padding-left: 15px;
  text-decoration: underline;
}

.sec-content ul li a::before {
  content: "▶";
  position: absolute;
  top: 20%;
  left: 5px;
  color: #888;
  font-size: 6px;
}

.sec-info {
  margin-bottom: 82px;
}

.card {
  background-color: #232227;
  height: fit-content;
  padding-top: 60px;
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 30px;
  width: 237px;
}

.card img {
  border-radius: 20px;
}

.card h4 {
  margin-bottom: 10px;
}

.card p {
  margin: 0;
}

.btn-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  text-decoration: none;
  color: #fff;
}

.btn-more::before {
  content: url("../images/pic_arr.png");
  margin-right: 7px;
}

.txt-highlight {
  color: #fff;
  font-weight: normal;
}

.txt-sub {
  color: #767884;
}

hr {
  border: none;
  border-top: 1px dotted #444;
  margin: 10px 0;
}
